html,
body {
    height: 100%;
}

body {
    background: #f1f1f1 !important;
    font-family: sans-serif;
    margin: 0;
}

.p5Canvas {
    position: fixed;
    z-index: -1;
}

#head {
    background: white;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    transition: all 0.25s;
}
.nice-shadow{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}
.logo {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
}

.menu {
    background: #212121;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}


.material-icons {
    vertical-align: middle !important;
}

#currentSpeed {
    vertical-align: middle;
}

.option {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.vert-option {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.col-60p {
    max-width: 60%;
}

.changer {
    padding-top: 0.25em;
    align-items: center;
    margin: auto;
}

.input-container {
    margin: auto;
    display: inline-block;
}
#settings{
    display:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shadowed {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.progress-bar {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    padding: 24px;
    background: white;
}

.small-slider {
    width: 160px;
    margin: auto;
}

li {
    list-style: none;
}

.card-custom {
    margin: auto;
    background: white;
    max-width: 500px;
}
.bold {
    font-weight: bold;
}

.sans {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.d-flex {
    display: flex;
    align-items: center;
}

#speedMonitor{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    background: white;
    padding: 10px;
    border-radius: 0.5em;   
}

#console{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: black;
    color: white;
    border-radius: 0.5em;
    padding: 7px;
    cursor: pointer;
}

.menuContainers{
    display: none;
}
#menus{
    width: 200px;
    height: 200px;
    background: white;
}

.customNumber{
    width: 30px;
    border: none;
    border-bottom: 1px #1a1a1a solid;
    margin: auto;
    text-align: center;
    transition: all 0.2s;
    background: transparent;
}

.customNumber:focus{
    border-bottom-color: #ef6c00;
    outline: none;
}

.splitBottom{
    border-bottom: solid #e0e0e0 1px;
}

#roadContainer{
    width: 300px;
    height: 300px;
}

table {
    width: 100%;
}
td {
    padding: 0 !important;
    width: 33.33%;
    position: relative;    
    align-items: center;
}
td:after {
    content: '';
    display: block;
    margin-top: 40%;
}
td .content {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.road{
    background: #bdbdbd;
}

.simulateButt{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;  
    color:white;
    outline: none;
    border: none;
    margin: auto;
    cursor: pointer;
}

#defaultCanvas0{
    display: none;
}

#done{
    display: none;
    position: fixed;
    min-width: 720px;
    height: 70%;
    overflow: auto;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
}

#graph{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    height: 500px;
}

